<!--This is the main welcome page of our Picture application.-->

<h1>Upload an Image</h1>

<%= form_for @user, url: upload_image_path, html: { multipart: true, data: { turbo: "true" } } do |f| %>
  <!-- Label for selecting an image to upload -->
  <%= f.label :image, "Select an image to upload.(JPG, JPEG, GIF, or PNG only and less than 20.megabyte)" %>
  <!-- File input to upload the image -->
  <%= f.file_field :image %>
  <!-- Submit button -->
  <%= f.submit "Upload Image" %>
  <!-- Rendering Flash Messages -->
  <% flash.each do |type, message| %>
    <div class="flash <%= type %>"><%= message %></div>
  <% end %>
<% end %>





